extends layout.pug
block variables
  - var page_title = 'balances'

block content
  h3 Balances
  if message
    #message.alert.alert-primary= message

  .table-responsive.mt-3
    table.table.table-bordered.table-sm
      thead.thead-light
        tr
          th(scope="col") Asset
          th(scope="col") Balance
          th(scope="col" colspan=2) Actions
      tbody
        each asset in assets
          tr
            td(scope="row") #{asset.hrname}
            td(data-balance=asset.symbol) #{asset.hramount}
            td
              a(data-deposit=asset.symbol href=asset.hrefDeposit) Deposit
            td
              a(data-withdraw=asset.symbol href=asset.hrefWithdraw) Withdraw
