extends layout.pug
block variables
  - var page_title = 'balances'

block content
  h2 Balances
  if message
    #message= message
  table(style="border: 1px solid black;")
    thead
      tr
        th Asset
        th Balance
    tbody
      each asset in assets
        tr
          td #{asset.hrname}
          td(data-balance=asset.symbol) #{asset.hramount}
          td
            button(data-deposit=asset.symbol) Deposit
          td
            button(data-withdraw=asset.symbol disabled) Withdraw
