extends layout.pug
block variables
  - var page_title = 'balances'

block content
  h3 Balances
  if message
    #message.alert.alert-primary= message

  .table-responsive.mt-3
    table.table.table-bordered.table-sm
      thead.bg-light
        tr.text-center
          th(scope="col") Asset
          th(scope="col") Balance
          th(scope="col" colspan=2) Actions
      tbody.small
        each asset in assets
          tr
            td.px-3(scope="row") #{asset.hrname}
            td.px-3(data-balance=asset.symbol) #{asset.hramount}
            td.text-center
              if asset.symbol === 'btc'
                a(data-deposit=asset.symbol href=asset.hrefDeposit) Deposit
              else
                span Deposit (TBD)
            td.text-center
              span Withdraw (TBD)
