extends layout.pug

block htmlhead
  style
    include deposit.css
  script
    include deposit.js

block variables
  - var page_title = `${symbol} deposits`

block content
  h2= `${symbol.toUpperCase()} Deposits`
  div= `${symbol.toUpperCase()} deposit address: `
    span(data-address=symbol)= address

  input#wspath(type="hidden" value=`${basepath}/wsapi/invoices`)
  table
    thead
      tr
        th Date
        th Amount
        th Block
        th Invoice
    tbody#invoices
      each invoice in invoices
        tr(data-invoice=invoice.id)
          td #{invoice.hrdate}
          td #{invoice.hramount}
          if invoice.block.href
            td
              a(href=invoice.block.href target='_blank')= invoice.block.id
          else
            td #{invoice.block.id}
          td
            a(href=invoice.href target='_blank')= invoice.id
