block variables
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title mex #{ page_title || "" }
  body
    #header
      if user
        ul
          li
            a(href=`${pathPrefix}/index`) Home
          li
            a(href=`${pathPrefix}/balance`) Balances
          li #{user.email}
      else
        ul
          li
            a(href=`${pathPrefix}/login`) Login
          li
            a(href=`${pathPrefix}/register`) Register

    block content
    block foot
      footer
        p mex v0.1