block variables
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title=`mex ${page_title}`
    script(src=`${basepath}/public/jquery-3.4.1.min.js`)
    block htmlhead
  body
    #header
      if user
        ul
          li
            a(href=`${basepath}/index`) Home
          li
            a(href=`${basepath}/balance`) Balances
          li #{user.email}
      else
        ul
          li
            a(href=`${basepath}/login`) Login
          li
            a(href=`${basepath}/register`) Register

    block content
    block foot
      footer
        p mex v0.1